* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 2000px;
}

.cart {
    display: flex;
    margin-right: 100px;



    h1 {
        color: white;
        font-size: 60px;
        padding-top: 350px;
    }

    div {
        width: 500px;
        height: 500px;
        border-radius: 10px;
        background: black;
        border: 5px dashed red;
    }


    .cart1 {
        z-index: 4;
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .cart2 {
        z-index: 3;
        position: absolute;
        right: 400px;
        top: 200px;
    }

    .cart3 {
        z-index: 2;
        position: absolute;
        right: 800px;
        top: 400px;
    }

    .cart4 {
        z-index: 1;
        position: absolute;
        right: 1000px;
        top: 600px;
    }
}